apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-app-deployment
spec:
  replicas: 3 # Hier gebeurt de schaling!
  selector:
    matchLabels:
      app: weather-app
  template:
    metadata:
      labels:
        app: weather-app
    spec:
      containers:
        - name: weather-now
          image: mkwaak/weather-app-main:v1
          ports:
            - containerPort: 80
